[Desktop Entry]
Name=Tutanota Desktop
Comment=The desktop client for Tutanota, the secure e-mail service.
GenericName=Mail Client
Keywords=Email;E-mail
Exec="/home/elaina/Applications/tutanota-desktop-linux.AppImage" %U
Terminal=false
Type=Application
Icon=tutanota-desktop
StartupWMClass=tutanota-desktop
MimeType=x-scheme-handler/mailto;
Categories=Network;
X-Tutanota-Version=3.112.9
TryExec=/home/elaina/Applications/tutanota-desktop-linux.AppImage
X-XFCE-Source=file:///home/elaina/.local/share/applications/tutanota-desktop.desktop
Path=
StartupNotify=false
