[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/elliot/Desktop/01 Fool.flac]
row=5
col=0

[/home/elliot/Desktop/05 The Pot.flac]
row=6
col=0

[2021-07-03-17-47-24-00]
row=3
col=0

[020bfd79-4651-4083-b8c8-86402d191d91]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/elliot]
row=2
col=0

