[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/elaina/Desktop/Games]
row=3
col=0

[/home/elaina/Desktop/notes.md]
row=5
col=0

[/home/elaina/Desktop/funfetti]
row=7
col=0

[/home/elaina/Desktop/tutanota-desktop.desktop]
row=4
col=0

[1080-0E82]
row=8
col=0

[629E83E89E83B2D9]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/elaina]
row=2
col=0

